 <div class="sneakers-item">
                    <img
                        src="{{image}}" alt="{{model}}">
                    <h3>{{brand}} {{model}}</h3>
                    <p>${{price}}</p>
                    <a href="/sneakers/{{id}}/details" class="btn">View Details</a>
                </div>