

<div class="edit-wrapper">
    <section class="edit-hero">
        <div class="wrap">
            <h2>Edit Sneakers</h2>
        </div>
    </section>

    <section class="edit-form">
        <div class="wrap">
            <form method="POST">
                <div class="input-wrap">
                    <div class="input-wrap">
                        <input type="text" id="brand" name="brand" placeholder="Brand" value="{{sneakers.brand}}">
                    </div>
                    <input type="text" id="model" name="model" placeholder="Model" value="{{sneakers.model}}">
                </div>
                <div class="input-wrap">
                    <input type="text" id="price" name="price" placeholder="Price" value="{{sneakers.price}}">
                </div>
                <div class="input-wrap">
                    <input type="text" id="condition" name="condition" placeholder="Condition" value="{{sneakers.condition}}">
                </div>
                <div class="input-wrap">
                    <input type="text" id="year" name="year" placeholder="Year" value="{{sneakers.year}}">
                </div>
                <div class="input-wrap">
                    <input type="text" id="size" name="size" placeholder="Size" value="{{sneakers.size}}">
                </div>
                <div class="input-wrap">
                    <input type="text" id="description" name="description" placeholder="Description" value="{{sneakers.description}}">
                </div>
                <div class="input-wrap">
                    <input type="text" id="image" name="image" placeholder="ImageUrl" value="{{sneakers.image}}">
                </div>
                <button type="submit" class="btn">Edit</button>
            </form>
        </div>
    </section>
</div>
